@model Worktime.ViewModel.ForgotPasswordVM
@{
    ViewData["Title"] = "Reset Password";
    var rurl = (string)ViewData["returnUrl"];
}

@if (User.Identity.IsAuthenticated)
{
    <script>
        location.href = window.location.href.replace('/home/login?returnurl=', '');
    </script>
}
else
{
    <div class="jumbotron" style="background: transparent !important; padding: 0px !important; padding-top: 30px !important; text-align: center;">
        <img src="~/img/worktime_logo_titre.png" style="display: inline-block;" />
    </div>

    <div class="row" style="justify-content:center">
        <div class="col-md-6">
            <form asp-action="ForgotPassword" asp-route-returnurl="@rurl" style="margin-top:40px">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="mail" value="@ViewData["Email"]" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:12px">
                    <div class="input-group" id="show_hide_password">
                        <input class="form-control" type="password" asp-for="Password" placeholder="votre mot de passe">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input-group" id="confirm_password" style="margin-top:8px">
                        <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="votre mot de passe">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset" class="btn btn-primary my-2" />
                </div>
                <div>
                    <a asp-action="Index">Return</a>
                </div>
            </form>
        </div>
    </div>
}
