@using System.Security.Claims

<button type="button" class="rechcollapsible">Recherche</button>
<div class="rechcontent">
    <form>
        <div class="form-row">
            <div class="col-2">
                <label class="control-label my-2">Du</label>
                <input id="beginDate" name="beginDate" class="form-control" value="@ViewBag.beginDate.Date.ToString("yyyy-MM-dd")" type="date" />
            </div>
        </div>
        <div class="form-row" style="display:flex">
            <div class="col-3">
                <label class="control-label my-2">Au</label>
                <input id="endDate" name="endDate" class="form-control" value="@ViewBag.endDate.Date.ToString("yyyy-MM-dd")" type="date" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-3">
                <label class="control-label my-2">Select Employee</label>
                @Html.DropDownList("SelectedEmployee", new SelectList(ViewBag.EmployeeList as IEnumerable<string>), "Select Employee", new { @class = "form-control m-2", id = "SelectEmployee" })
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <input id="btnRechercher" type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </div>

    </form>
</div>


@section Scripts {
    <!-- Include Select2 library after jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            if (typeof $.fn.select2 === 'undefined') {
                console.error('Select2 library is not loaded.');
            } else {
                $("#SelectEmployee").select2();
            }
        });
    </script>
}