@using System.Security.Claims

<button type="button" class="rechcollapsible">Recherche</button>
<div class="rechcontent">
    <form>
        <input type="hidden" name="SSN" value="@ViewBag.SSN" />
        <div class="form-row">
            <div class="col-4">
                <label class="control-label my-2">Du</label>
                <div class="input-group">
                    <button id="btnPrevious" type="button" class="btn btn-primary">Previous</button>
                    <input id="majBeginDate" name="majBeginDate" class="form-control" value="@ViewBag.majBeginDate.Date.ToString("yyyy-MM-dd")" type="date" />
                    <button id="btnNext" type="button" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <input id="btnRechercher" type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById("btnPrevious").addEventListener("click", function () {
        // Get the current value of majBeginDate
        var currentDate = document.getElementById("majBeginDate").value;

        // Convert the current date to a JavaScript Date object
        var dateObj = new Date(currentDate);

        // Subtract one day from the current date
        dateObj.setDate(dateObj.getDate() - 1);

        // Format the new date as yyyy-MM-dd
        var newDate = dateObj.toISOString().split('T')[0];

        // Set the value of majBeginDate to the new date
        document.getElementById("majBeginDate").value = newDate;
    });

    document.getElementById("btnNext").addEventListener("click", function () {
        // Get the current value of majBeginDate
        var currentDate = document.getElementById("majBeginDate").value;

        // Convert the current date to a JavaScript Date object
        var dateObj = new Date(currentDate);

        // Add one day to the current date
        dateObj.setDate(dateObj.getDate() + 1);

        // Format the new date as yyyy-MM-dd
        var newDate = dateObj.toISOString().split('T')[0];

        // Set the value of majBeginDate to the new date
        document.getElementById("majBeginDate").value = newDate;
    });
</script>
